* {
    background-color: #171a1b;
    font-family: sans-serif;
    padding: 0;
    margin:  0;
}

.header_div {
    display: flex;
    align-items: center;
    background-color: #211d21;
    overflow: hidden;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    height: 50px; 
}

.header_title {
    background-color: transparent;
    color: #e8e6e3;
    text-decoration: none;
    padding: 0 1%;
    margin-right: auto;
    line-height: 1;
    display: flex;
}

.header_title h1 {
    padding-left:5px;
    background-color: transparent;
    margin-right: auto;
}

.header_div .buttons_div {
    display: flex;
    align-items: stretch;
    background-color: inherit;
    height: 100%; 
}

.buttons_div .header_link,
.buttons_div .header_link_active {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2px 10px;
    background-color: transparent;
    text-decoration: none;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    height: 100%;
}

.buttons_div .header_link p,
.buttons_div .header_link_active p {
    background-color: inherit;
    color: #e8e6e3;
    margin: 0;     
    padding: 0;    
    line-height: 1;
    height: 100%; 
    display: flex;
    align-items: center;
}

.buttons_div .header_link:hover,
.buttons_div .header_link:hover p {
    background-color: #171a1b;
}

.buttons_div .header_link_active {
    background-color: #171a1b;
    color: #e8e6e3;
}

.buttons_div .header_link_active p {
    color: #e8e6e3;
}

.buttons_div .header_link:visited {
    color: #e8e6e3;
    text-decoration: none;
}

.button_image{
    height: 80%;
    display: block;
    object-fit: cover;
    margin: 0;
    padding-bottom: 5px;
    background-color: transparent;
    filter: brightness(100.0);
}

.home_page{
    position: relative;
    margin:0;
    padding: 0;
    width: 100vw;
    height: 20%;
}

.home_image{
    width: 100%;
    height: 100%;
    object-fit: fill;
    filter: blur(5px);
}

.home_name{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  color: #e8e6e3;
  font-size: 5.7vw;
  text-shadow: 0px 1px 5px #989898;
}

.home_about{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    max-width: 700px;
    
    color: #989898;
    font-size: 20px;
    text-align: center;
}

.home_header{
    display: flex;
    margin: auto;
    margin-top: 4%;
    margin-left: 2%;

    font-size: 30px;
    color: #e8e6e3;
    text-align: center;
}

.home_projects_div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 2vw;
}

@media (max-width: 950px) {
    .home_projects_div {
        flex-direction: column;
    }
}

.home_project_instance{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vw;
    margin-left: 1%;
    margin-right: 1%;
    text-decoration: none;
    color: #e8e6e3;
}

.home_project_instance img{
    display: block;
    max-width: 300px;
    max-height: 300px;
}

.home_project_text{
    margin: 2%;
    padding: 2%;
    width: 95%;
    background-color:#2d2d2d;
    text-align: center;
    border-radius: 5px;
}

.main_page{
    margin-top: 65px;
    margin-left: 5%;
    margin-right: 5%;
    color: #e8e6e3;
}

.project_title{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
}

.project_header{
    color: #e8e6e3;
    margin-left: 20px;
}

.project_text{
    color: #e8e6e3;
    margin-left: 20px;
    margin-right: 20px;
}

.text_list{
    margin-top: 0.5%;
    margin-left: 55px;
    margin-bottom: 0.5%;
}

.store_div{
    margin-top: 30px;
    margin-bottom : 30px;
}

.store_page, .store_page:visited{
    display: inline;
    margin-top: 100px;
    margin-left: 20px;
    margin-bottom: 30px;
    background-color: #420e65;
    padding: 20px;
    border-radius: 5px;
    color: #e8e6e3;
    text-decoration: none;
}

.store_page:hover{
    background-color: #330A4F;
    padding: 20px;
    border-radius: 5px;
    color: #e8e6e3;
}

.thumbnail{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 4%;
    
    max-width: 100%;
    width: auto;
    height: auto;
    object-fit: fill;
}

.about_text{
    margin-left: 20px;
    margin-bottom: 20px;
    color: #e8e6e3;
}

.about_header{
    margin-left: 20px;
    margin-top: 120px;
    color: #e8e6e3;
}

.still_image, .gif, .blurred_image{
    width: 300px;
    height: 200px;
    border-radius: 5%;
    object-fit: fill;
}

.cut_image, .cut_gif{
    width: 300px;
    height: 200px;
    border-radius: 5%;
    object-fit: cover;
}

.hover_text{
    text-align: center;
    font-size: 18px;
    padding-bottom: 10px;   
    padding-top: 10px;
}

.language_div {
    background-color: #330A4F;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;
    color: #e8e6e3;
    border-radius: 5px;
}
.language_div p{
    margin-left: 5px;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: #330A4F;
}
.language_div img{
    background-color: #330A4F;
    align-self: center;
}

.language_div .img_push{
    margin-left: auto;  
}

.language_div .img_last{
    margin-right: 5px;
}


.grid{
    background-color: #171a1b;
    display:grid;
    row-gap: 20px;
    column-gap: 1.33%;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: space-around;
    margin-top: 90px;
    min-height: calc(100vh - 50px);
    
    padding-bottom: 20px;
}

.grid a:link{
    color: #e8e6e3;
    text-decoration: none;
}

.grid a:visited {
    color: #e8e6e3;
}

.grid a:hover > .cut_gif, .grid a:hover > .cut_image, .grid a:hover > .gif, .grid a:hover > .still_image{
    filter: blur(3px);
}

.grid .hover_text:hover, .grid a:hover .hover_text {
    text-decoration: underline;
}


@keyframes slider {
    0%, 25%, 100%{left: 0}
    
    30%, 55%{left: -100%}
    
    60%, 85%{left: -200%}
}