* {
    background-color: #171a1b;
    font-family: Arial, Helvetica, sans-serif;
}

.header_div{
    background-color: #7B00CE;
    overflow: hidden;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
}

.header_div h1{
    padding-top: 0.1%;
    color: #e8e6e3;
    margin: auto;
    padding: 0%;
    background-color: #7B00CE;
    padding: 0.5%;
    z-index: 100;
}

.header_div .buttons_div{
    display: flex;
    background-color: inherit;
}

.header_constrast{
    background-color: #330A4F;
    display: flex;
    padding-top: 0.5%;
}
.buttons_div .header_link, .buttons_div .header_link_active{
    display: flex;
    flex-direction: row;
    padding: 2px 10px;
    background-color: #7B00CE;
    text-decoration: none;
    text-align: center;
}
.buttons_div .header_link p, .buttons_div .header_link_active p{
    background-color: inherit;
    color: #e8e6e3;
}

.buttons_div .header_link:hover, .buttons_div .header_link:hover p{
    background-color: #2c2c2c;
}

.buttons_div .header_link_active{
    background-color: #171a1b;
    color: #e8e6e3;
}

.buttons_div .header_link:visited{
    color: #e8e6e3;
    text-decoration: none;
}

.main_page{
    margin-top: 110px;
    color: #e8e6e3;;
}

.about_text{
    margin-top: 9%;
}

.still_image, .gif, .blurred_image{
    width: 300px;
    height: 200px;
    border-radius: 5%;
    object-fit: fill;
}

.cut_image, .cut_gif{
    width: 300px;
    height: 200px;
    border-radius: 5%;
    object-fit: cover;
}

.hover_text{
    text-align: center;
    font-size: 18px;
}

.row_mobile{
    display: flex; 
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.row{
    display: flex; 
    flex-direction: row;
    justify-content: center;
}

.row > .column, .row_mobile > .column{
    padding: 1%;
}

.column {
    display: flex;
    flex-direction: column;
}

.column a:link{
    color: #e8e6e3;
    text-decoration: none;
}

.column a:visited {
    color: #e8e6e3;
}

.column a:hover > .still_image{
    filter: blur(3px);
}

.column a:hover > .gif{
    filter: blur(3px);
}

.column a:hover > .cut_image{
    filter: blur(3px);
}

.column a:hover > .cut_gif{
    filter: blur(3px);
}

.column:hover .hover_text{
    text-decoration: underline;
}